In [1]:
print ("my new laptop")

my new laptop

In [2]:
x= 4
y= 5
z= x+y
print(z)

9

In [ ]:
first name = 'anwar'

In [7]:
print(first name)

SyntaxError: invalid syntax. Perhaps you forgot a comma? (3852772612.py, line 1)

In [5]:
firstname = "anwar"

In [6]:
print (firstname)

anwar

In [25]:
first_name = 'mohan'

In [28]:
print(first_name)

 mohan

In [ ]:
Rule no 2 :- A variable name Should not start with a number --IMP

In [ ]:
1name = "ravi"

In [29]:
print "1name"

SyntaxError: Missing parentheses in call to 'print'. Did you mean print(...)? (261015403.py, line 1)

In [41]:
name1 = 'ravi'
print(name1)

ravi

In [ ]:
Rule no 3: A variable should not contain any special character (@#$%*^)

In [42]:
name@ = 'asif'
print(name@)

SyntaxError: invalid syntax (1455548513.py, line 1)

In [ ]:
Introduction to data types in python

In [ ]:
1. String --str
2. Numbers -Integers (int) and Floats Decimal (0.1,0.2)
3. List - (List)
4. Tuples - Tuples
5. Dictionaries - (Dict)

In [ ]:
classification of data types

In [ ]:
Broadly datatypes are classified in to two categories

In [ ]:
1. Mutable datatype - Which we can able to edit and alter - Flexible in nature
2.Immutable data type - which we cannot be able to edit and alter - Fixed in nature

In [ ]:
Introduction to string data type

In [ ]:
Defination:- A string is series of characters declared in quotes

In [ ]:
classification it is classified as an immutable data type (fixed data type)

In [ ]:
How to define string data type
1. Single Quote ''
2. Double Quote ""

In [44]:
name = 'sandeep'
print(name)

sandeep

In [45]:
name2 = "sachin"
print(name2)

sachin

In [ ]:
Introducation to string method

In [46]:
type (name)

str

In [47]:
type (name2)

str

In [48]:
fullname = 'fuzail shaikh'
print(fullname)

fuzail shaikh

In [49]:
print(fullname.title())

Fuzail Shaikh

In [ ]:
#Req:-want to convert the entire name in capital letters

In [5]:
print(fullname.upper())

FUZAIL SHAIKH

In [6]:
print(fullname.lower())

fuzail shaikh