In [ ]:
Introduction to list data type

In [ ]:
Definition : A list is a collection of items in a particular order
    
Classification : It is classified as a mutable datatype (which cab be edited/ Modified)

In [ ]:
How to define the list data type []

In [6]:
students= ['khadija','anitha','naveen','suresh','keerthi','david']

print (students)

['khadija', 'anitha', 'naveen', 'suresh', 'keerthi', 'david']

In [ ]:
understanding the concept of indexing : [0,1,2,3,4,5,.....]

In [ ]:
Req:- i want to access lets say anitha name from the above?

In [8]:
print(students[1])

anitha

In [ ]:
Req:- i want to access lets say suresh name from the above?

In [9]:
print(students[3])

suresh

In [ ]:
Important Interview Question

1. how to add new elements in the list
2. how to modify the elements in the list
3. how to delete the elements in the list

In [ ]:
Req:- i want to add satish name in the list

In [10]:
students.append('satish')
print(students)

['khadija', 'anitha', 'naveen', 'suresh', 'keerthi', 'david', 'satish']

In [11]:
students.append('ravi')
print(students)

['khadija', 'anitha', 'naveen', 'suresh', 'keerthi', 'david', 'satish', 'ravi']

In [ ]:
Req:- I want to add tanvir at 2nd index position

In [13]:
students.insert(2,'tanvir')
print(students)

['khadija', 'anitha', 'tanvir', 'naveen', 'suresh', 'keerthi', 'david', 'satish', 'ravi']

In [ ]:
Imporant Interview Question

what is the difference between append and insert methods in a list data type?

In [14]:
print(students)

['khadija', 'anitha', 'tanvir', 'naveen', 'suresh', 'keerthi', 'david', 'satish', 'ravi']

In [ ]:
Req:- i want to modify khadija name to Rubina

In [15]:
students[0]= 'Rubina'
print(students)

['Rubina', 'anitha', 'tanvir', 'naveen', 'suresh', 'keerthi', 'david', 'satish', 'ravi']

In [16]:
print(students[0])

Rubina

In [17]:
print(students)

['Rubina', 'anitha', 'tanvir', 'naveen', 'suresh', 'keerthi', 'david', 'satish', 'ravi']

In [ ]:
Req- I want to delete anitha name from the above list

In [19]:
del students[1]

print(students)

['Rubina', 'tanvir', 'naveen', 'suresh', 'keerthi', 'david', 'satish', 'ravi']